@import './variables.scss';

$height : 50px;
$width : 150px;

.Button {
    width:$width;
    height:$height;
    color: white;
    border-radius: 3px;
    border: none;
    transition : all $animation-speed ease-in-out;
    margin: 15px;
}

.ButtonGreen {
    @extend .Button;
    background-color: $greenB;
    box-shadow: 5px 5px $greenD, 2px 2px $greenD, 3px 3px $greenD;
}

.ButtonRed {
    @extend .Button;
    background-color: $redB;
    box-shadow: 5px 5px $redD, 2px 2px $redD, 3px 3px $redD;
}

.ButtonLoad {
    @extend .Button;
    background-color: $greyB;
    box-shadow: 5px 5px $greyD, 2px 2px $greyD, 3px 3px $greyD;
}