@import "variables.scss";


.GraphMainCont{
    width: max-content !important;
    height: max-content !important;
}

.GraphSubCont{
    @extend .GraphMainCont;
}

.input{
    border-radius: 5px;
    border: none;
    background-color: $accent-color;
    color: white;
    padding: 5px;
    outline: none;
}