@import "variables.scss";


.Frame{
    position:absolute;
    top:0;
    left: 0;
    background-color: $accent-color;
    display:flex;
    height:$header-height;
    color:#fff;
    width:100%; 
    justify-content: space-between;
    flex-wrap: nowrap;
    word-wrap: normal;
    overflow:hidden;
    transition: all $animation-speed ease-in-out;
    white-space: nowrap;

    h1{
        font-size: larger;
        padding: 0px 10px;
    }

    p{
        font-size: medium;
        padding-right: 10px;
        text-overflow: ellipsis;
    }
}

@media (max-width: $phoneScreen) {
    .Frame{
        width:105%;
        p{
            display: none;
        }
    }
}