
.IntroFrame{
    width:66%;
    background-color: rgb(248, 248, 248);
    box-shadow: 2px 2px 3px rgb(216, 216, 216);
    height:auto;
    border-radius: 10px;
    margin-top:5px;
    padding:5px;
    li{
        color:rgb(36, 36, 36);
        font-weight: 600;
    }
}