// A File to keep all styling variables in one place to change across all files

$phoneScreen: 768px;

// $background-color: #fff; Cant change from here atm
$accent-color: #61A6AB;
$card-background-col : rgb(248, 248, 248);

$header-height : 50px; //please note changes here must reflect the same values in main.css

$animation-speed : 0.2s;

//Buttons and TGL shared variables

$greenB : #65ff54;
$greenD : #3b9131;

$redB : #f75252;
$redD : #913131;

//TGL Vars

$tglborder : 50px;