
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
}

.contents {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}